 @import url(http://fonts.googleapis.com/css?family=Gloria+Hallelujah);
 @import url(http://fonts.googleapis.com/css?family=Oswald);

* {
    margin: 0;
    padding: 0;
}

body {
    font: 16px/24px 'Oswald', serif;
    background-color: #F5F367;
}

*article {
    font-size: 24px;
}

h1,h2 {
    font-family: 'Gloria Hallelujah', sans-serif;
}

h1 {
    line-height: 48px;
}

h2 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 8px;
}

img {
    width: 80%;
} 

p {
    margin-bottom: 24px;
}
 
header { 
    margin-bottom: 10px; 
    margin-right: 10px;
    clear: both; 
}

header h1 {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right:48px;
    font-size: 48px;
    float: left;   
}

  
nav a {
    border-bottom: 3px ;
    color: #7B7C78;  
    display: inline-block;
    font: 16px/24px 'Gloria Hallelujah', sans-serif;
    height: 40px; 
    text-decoration: none;
    float: left; 
    margin-left: 10px; 
    margin-top: 36px;  
    border: 0px;
}

nav a:hover { 
    color: #ffffff;
}

 
article h1 {
    margin-bottom: 8px;
    font-size: 36px;
}

article h2 {
    margin-bottom: 12px; 
}

footer {
    font-family:'Gloria Hallelujah', sans-serif; 
    background-color: #C60619;
    clear: both;  
    padding: 0; 
}

footer ul {
    list-style-type: none;
}

footer p {
    color: #000000;
    margin-left: 3px;
    padding-left: 12px;  
}

footer li { 
    color: #000000;
    font-size: 16px; 
    margin-left: 3px; 
    padding-left: 12px;
    margin: 0px;  
}

.content {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    clear: both;
}

.content img {
    margin-bottom: 12px;
    margin-top: 16px;  
}

.photo img {
    margin-bottom: -6px;
}

.photo h3 {
    background-color: #C60619;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase; 
}

.photo p {
     color: #FFFFFF;
}
    
.photo h3 {
    background-color: #C60619;  
}
 
.photo h3 a {
    color: #ffffff;
    text-decoration: none; 
}

.photo  { 
    margin-bottom:2px;
    text-align: center;
    clear: both;
}

.photo img {
     margin-bottom:1px;
}
 
.gallery h1 {
    color: #7B7C78; 
    text-decoration: none;
    text-align: center;
    padding-top: 160px;
        
}

.gallery h2 {
    color: #7B7C78; 
    margin-bottom: 14px; 
    margin-top: 4px;
    text-align: center;
}

.about {
    color: #7B7C78; 
    text-align: center;
}

.about h1 {
    padding-top: 160px;
}

.article {
     color: #7B7C78; 
    text-align: center;
}

.third {
    background: #000000;
}
  
.third header {
    color: #7B7C78;
}

.second {
    background: #000000;
}

.second header h1 { 
    color: #7B7C78;
}

.first {
     background: #000000;
}

.first header h1 { 
    color: #7B7C78;
}

@media screen and (max-width:600px) { 
        .content p {
        padding: 0;
        text-align: center;   
    }

}
 
